//font colors
$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45%);
    

$Cyaan: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

//font weights
$smallweight : 600;
$largeweight: 700;